.pg-nav-buttons {
  width: 10%;
  height: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.pg-nav-buttons .circle-navs {
  width: 3.5rem;
  height: 3.5rem;
  margin-bottom: 0.5rem;
  margin-right: 5rem;
  border-radius: 50%;
  background-color: #60c3ff;
  text-align: center;
}
.pg-nav-buttons .circle-navs p {
  font-size: 0.5rem;
}
.center-button {
  font-size: 1.5rem;
  padding: 5px;
  margin-bottom: 0.5rem;
  width: 20%;
  background-color: white;
  border: 3px solid black;
  border-radius: 10%;
}
.header {
  width: 80%;
  display: flex;
}
.nav {
  width: 98%;
}
.nav nav {
  width: 90%;
  padding: 1.5rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  border-bottom: 2px dashed black;
}
.nav nav a {
  text-decoration: none;
  color: white;
  padding: 0.2rem;
}
.nav nav a:hover {
  background-color: black;
}
.mm-gradient {
  background-image: linear-gradient(to right, #5574f7, #60c3ff);
}
.footer {
  width: 100%;
  text-align: center;
  background-color: yellow;
}
* {
  max-width: 1200px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}
html {
  font-size: 62.5% rem;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  box-sizing: border-box;
  min-width: 300px;
  margin: 0;
}
.container {
  width: 100%;
  background-image: linear-gradient(to right, #5574f7, #60c3ff);
}
.primary-content {
  width: 88%;
  height: 550px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
}
.primary-content .center-content {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.primary-content .center-content .mm-logo {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.primary-content .center-content .mm-logo img {
  mix-blend-mode: multiply;
  width: 60%;
}
.primary-content .center-content p {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  color: white;
  line-height: 1rem;
  padding-bottom: 1rem;
}
