* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.pg-nav-buttons {
  display: flex;
  flex-direction: column;
}
.pg-nav-buttons .circle-navs {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #60c3ff;
}
.pg-nav-buttons .circle-navs p {
  font-size: 0.5rem;
}
.center-button {
  font-size: 1.5rem;
  padding: 5px;
  width: 20%;
  background-color: white;
  border: 3px solid black;
  border-radius: 50%;
}
html {
  font-size: 62.5% rem;
  background-image: linear-gradient(to right, #5574f7, #60c3ff);
}
body {
  box-sizing: border-box;
  min-width: 300px;
  margin: 0;
}
