.pg-nav-buttons{
    width: 10%;
    height: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // border: @standard-border;
    .circle-navs{
        width: 3.5rem;
        height: 3.5rem;
        margin: .2rem 10rem .2rem 0;
        border-radius: 50%;
        background-color: @mm-theme-lightblue;
        text-align: center;
        p{
            font-size: .5rem;
        }
    }
}



.center-button{
    font-size: 1.5rem;
    padding: 5px;
    margin-bottom: .5rem;
    width: 20%;
    background-color: white;
    border: 3px solid black;
    border-radius: 10%;
}