.header{
    width: 100%;
    display: flex;
    .placeholder{
        width: 10%;
        margin: 0;
        border: @standard-border;
    }
    .nav{
        width: 90%;
        nav{
            width: 80%;
            padding: 1.5rem;
            margin-bottom: 2rem;
            display: flex;
            justify-content: center; 
            border-bottom: 2px dashed black;   
            a{
                text-decoration: none;
                color: white;
                padding: .2rem;
            }
            a:hover{
                background-color: black;
            }
        }
    }
}